
h1, h2, h3, h4, h5, h6, p, div { color:#aa8; }

a { color: #f80; }
a:hover { color: #f30; }

body
{
	background-color: #081220;
}

video
{
	filter:contrast(250%) blur(5px);
}
video:before 
{
	content: 'why no worky :(';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,0,255,0.2); //Change as per your requirement
}

.section
{
	transition:0.3s;
	background-color:#000510;
	box-shadow: inset 0px 0px 0px #aa8;
}
.section:hover 
{
	box-shadow: inset 0px 0px 2px #aa8, inset 0px 10px 0px #aa8;
}

.menu-button:hover 
{	
	filter: contrast(130%);
}
.sidebar
{
	background-color:#121212;
	color:#330;
	--highlight: #ffa;
}

.menu-dropdown
{
	background-color:#000;
}
/*
.theme-selector::before
{
	font-family:"FontAwesome";	
	content: "\f186";
	font-weight: 100;	
	font-size:3em;	
}
*/

.theme-selector
{
	border-radius:100%;
	box-shadow: 0px 0px 0px 1px #000;
}

.theme-text::after
{
	content:'Code Red';
}