
h1, h2, h3, h4, h5, h6, p, div { color:#fff; }

a { color: #0aa; }
a:hover { color: #0ff; }

body
{
	background-color: #121212;
	color:#fff;
}

video
{
	filter:blur(5px);
}

.sidebar
{
	background-color:#000;	
	color:#fff;
	--highlight: #0ff;
}



.section
{
	background-color:#000;
}
.section:hover 
{
	background-color:#121212;
}