
h1, h2, h3, h4, h5, h6, p, div { color:#121212; }

a { color: #08c; }
a:hover { color: #0ad; }

body
{
	background-color: #fff;
	color:#121212;
}

video
{
	filter:invert(100%) blur(5px);
}


.section
{
	/* background-color: rgba(255,255,255,0.5); */	
}

.sidebar
{
	background-color:#ddd;
	color:#101010;
	--highlight: #0ad;
}
