
h1, h2, h3, h4, h5, h6, p, div { color:#121212; }

a { color: #0cc; }
a:hover { color: #0aa; }

body
{
	background-color: #fff;
	color:#121212;
}

.sidebar
{
	background-color:#ddd;
	color:#000;
}
.sidebar ul
{				
	<!--padding:0; -->
	list-style-type: none;
}

.sidebar ul li:hover > ul { box-shadow: 5px 0 0 #0ff; }