
h1, h2, h3, h4, h5, h6, p, div { color:#121212; }

a { color: #08c; }
a:hover { color: #0ad; }

body
{
	background-color: #fff;
	color:#121212;
}

video
{
	filter:invert(100%) blur(5px);
}


.section
{
	transition:0.3s;
	background-color:#fff;
	box-shadow: 0px 0px 0px #121212;
}
.section:hover 
{
	box-shadow: 0px 0px 1px #121212;
	background-color:#eee;
}

.menu-button:hover 
{	
	filter:invert(30%);	
}
.sidebar
{
	background-color:#ddd;
	color:#101010;
	--highlight: #0ad;
}

.menu-dropdown
{
	background-color:#eee;
}
/*
.theme-selector::before
{
	font-family:"FontAwesome";	
	content: "\f186";
	font-weight: 100;	
	font-size:3em;	
}
*/

.theme-selector
{
	border-radius:100%;
	box-shadow: 0px 0px 0px 1px #000;
}

.theme-text::after
{
	content:'Light';
}